USE [Omgevingswet]
GO
/****** Object:  StoredProcedure [dbo].[spResetUserInformation]    Script Date: 31-5-2017 11:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spResetUserInformation]
@gebruiker VARCHAR(255),
@postc VARCHAR(6),
@hnummer NUMERIC(5,0),
@toev VARCHAR(5),
@tel VARCHAR(20)

AS
	BEGIN
		SET NOCOUNT ON;
		DELETE FROM GEBRUIKERTEL WHERE GEBRUIKERSNAAM = @gebruiker AND TELEFOONNUMMER = @tel
		DELETE FROM ADRES_VAN_GEBRUIKER WHERE GEBRUIKERSNAAM = @gebruiker AND ADRESID = (SELECT ADRESID FROM ADRESGEGEVENS WHERE POSTCODE = @postc AND HUISNUMMER = @hnummer AND TOEVOEGING = @toev)
		DELETE FROM GEBRUIKER WHERE GEBRUIKERSNAAM = @gebruiker
	END
