USE [OMGEVINGSWET]
GO
/****** Object:  StoredProcedure [dbo].[spAddProject]    Script Date: 31-5-2017 11:07:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAddProject]
@gebruikersnaam VARCHAR(255),
@titel VARCHAR(255),
@werkzaamheid VARCHAR(4000),
@xcoordinaat FLOAT,
@ycoordinaat FLOAT

AS
	BEGIN TRY
		DECLARE @datum DATETIME
		SELECT @datum = CURRENT_TIMESTAMP

		INSERT INTO PROJECT(PROJECTTITEL, AANGEMAAKTOP, WERKZAAMHEID, XCOORDINAAT, YCOORDINAAT)
		VALUES(@titel, @datum, @werkzaamheid, @xcoordinaat, @ycoordinaat)

		INSERT INTO PROJECTROL_VAN_GEBRUIKER(GEBRUIKERSNAAM, PROJECTID, ROLNAAM, DATUMAANVRAAG, DATUMUITGAVE, AUTOMATISCHTOEGEVOEGD)
		VALUES(@gebruikersnaam, (SELECT SCOPE_IDENTITY() FROM PROJECT 
							     WHERE AANGEMAAKTOP = @datum), 'INITIATIEFNEMER', @datum, @datum, 1)
	END TRY
	BEGIN CATCH
		THROW;
		ROLLBACK
	END CATCH



	EXEC spAddProject @gebruikersnaam = 'RvBurik', @titel = 'Testing', @werkzaamheid = 'Stored Procedure testen', @xcoordinaat = 50, @ycoordinaat = 50


	SELECT * FROM PROJECT
	SELECT * FROM PROJECTROL_VAN_GEBRUIKER

	SELECT * FROM GEBRUIKER
    SELECT * FROM ADRES


	DELETE FROM PROJECTROL_VAN_GEBRUIKER 
	DELETE FROM PROJECT


	DELETE FROM BEZWAAR



		INSERT INTO ROL(ROLNAAM, ROLBESCHRIJVING)
	VALUES('INITIATIEFNEMER', 'De aanmaker van een project!')

	INSERT INTO ROL(ROLNAAM, ROLBESCHRIJVING)
	VALUES('BELANGHEBBENDE', 'Een omwonende van een project')

	SELECT * FROM PROJECT
	SELECT * FROM PROJECTROL_VAN_GEBRUIKER

